.vscode/**
.vscode-test/**
.github/**
out/test/**
out/extension.*
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/.gitkeep
node_modules
webpack.config.js
postinstall.js
prepare.mjs
res/**
images/**
.editorconfig
.lua-format
.vscodeignore
