
name: Node.js

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm ci
    - run: npm test
    - name: Deploy
      if: startsWith(github.ref, 'refs/tags/v')
      env:
        VS_TOKEN: ${{ secrets.VS_TOKEN }}
      run: |
        npm install
        npm install -g vsce
        vsce publish -p $VS_TOKEN
    - name: Publish to npm
      if: startsWith(github.ref, 'refs/tags/v')
      uses: JS-DevTools/npm-publish@v3
      with:
        token: ${{ secrets.NPM_TOKEN }}
